body{
	height: 1800px;
}

.jumbotron h2{
	font-size: 18px;
	width: 250px;
	margin: 0px;

}

.jumbotron{
	background-image: url(images/son.jpg);
	background-size: 100%;
	width: 100%;
	max-width:1920px;
	background-position-y:-788px; 
	height: 360px;
	margin-bottom: 60px;

}



.img-rounded{
		border: solid white;
		position: absolute;
    	top: -166px;
    	right: 
}


.box1{
	border: solid white 2px; 
	color: gray;
	word-spacing: 29px;
	border: none;
	height: 0px;
	position: inherit;
	top: -60px;
}

.numbers{
	color: #B0A289;
	font-size: 20px;
	text-align: center;
	padding-right: 119px;
	word-spacing: 42px;
}

strong{
	color: black;
}
.glyphicon{
	color: #1da1f2;
}

.but{
	position: ;
    top: -70px;
    right: -12px;
	
}

p{
	font-size: 20px;
}

#nav{
	margin-bottom: 0px;
}

#main-thang{
	height: 2000px;
	background-color: #f5f8fa;
	border-radius: 12px


}
.box-content{

}
.a{
	 position: absolute;
    left:1%;
    color: black;
    font-size: 18px;
}
.b{
	 position: absolute;
    left: 17%;
    color: #B0A289;
    font-size: 18px;
}
.c{
	 position: absolute;
    left: 31%;
    color: #B0A289;
    font-size: 18px;
}
.d{
	 position: absolute;
    left: 46%;
    color: #B0A289;
    font-size: 18px;
}

.wrapper{
    height: 500px;
    width: 290px;
    margin: 0px;
    float: left;
}

#para{
	font-size: 10px;
	margin left:0px;
    width: 256px;

    
}

p{
	font-size: 13px;
}
.container{
	width:1226px;
	height: 1063
}


#last-man{
	width: 250px;
	height: 263px;
	background-color:#e1e8ed;
	margin-top: 11px;
	border: solid #f5f8fa;
	border-radius: 14px
}

#middle-man{
	width: 599px;
    height: 2000px;
    border:solid #f5f8fa;
}

h3{
	color:#e1e8ed;
}

.singup{
	color: #8899a6;
	margin-bottom: 14px;
}

#su{
	color: #fff;
	background-color: #1da1f2;
	display: list-item;
	list-style: none;
	margin-top: 21px;

}




.far-far{
	height: 273px;
	width: 250px;
}

.mainbox-content{
	
	height: 900px


}

.list-content{
	height: 46px;
    width: 563px;
    background-color: white;
    border-radius: 6px;
    border-top: solid #f5f8fa;
    margin-top: 11px;
}



.e{
	float: left;
	color: black;
	font-size: 18px;
	position: absolute;
    right: 512px;
    margin-top: inherit;
}

.f{
	float: left;
	color: #B0A289;
	font-size: 18px;
	position: absolute;
	right: 361px;
	margin-top: inherit;
}


.g{
	float: left;
	color: #B0A289;
	font-size: 18px;
	position: absolute;
	right: 296px;
	margin-top: inherit;
}



